body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.colLeft {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}

.colRight {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}

.p-datatable-thead {
  font-size: 12px;
}

.p-datatable-row	{
  font-size: 12px;
}

.p-dropdown .p-component {
  font-size: 12px;
}

