.operation {
    padding: 10px;
}


.operation .right {
    text-align: right;
}

.operation .montant {
    font-size: 12px;
}

.operation .header {
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #F8F8F8;
}